# Pandas Exercises

## Creating DataFrames and Using Sample Data Sets

This is the Jupyter Notebook runnable exercises version of the article, [Pandas Practice Questions – Fifty-Two Examples to Make You an Expert](https://codesolid.com/pandas-practice-questions-twenty-one-examples-to-make-you-an-expert/).

In [3]:
import pandas as pd
import numpy as np
import seaborn as sb

ModuleNotFoundError: No module named 'seaborn'

**1.** Using NumPy, create a Pandas DataFrame with five rows and three columms:

In [5]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.rand(5,3) *10, index= np.arange(5), columns = ['A', 'B', 'C' ])
print(df)

          A         B         C
0  0.302435  8.667517  7.450098
1  1.509580  6.680663  7.475635
2  4.608119  5.786967  3.286238
3  0.631157  5.711485  1.516761
4  1.795969  9.658152  2.250796

**2.** For a Pandas DataFrame created from a NumPy array, what is the default behavior for the labels for the columns?  For the rows?

In [6]:
import numpy as np 
import pandas as pd
df = pd.DataFrame(np.random.rand(5,3) *10, index= np.arange(5))
print(df)

          0         1         2
0  2.786217  8.098285  5.985194
1  8.675257  2.925822  8.928470
2  5.542928  0.391062  3.287307
3  3.228285  0.468113  5.341422
4  5.886281  3.242708  3.977968

index starting from 0.

**3.** Create a second DataFrame as above with five rows and three columns, setting the row labels to the names of any five major US cities and the column labels to the first three months of the year.

In [7]:
import numpy as np 
import pandas as pd
df = pd.DataFrame(np.random.rand(5,3) *10, index= ["new york", "LA","chicago","dallas","phoenix"] , columns = ["jan","feb","march"])
print(df)

               jan       feb     march
new york  5.270628  0.951193  2.324157
LA        4.649545  5.674126  9.435144
chicago   4.699104  5.099630  3.396464
dallas    4.395844  2.217372  1.970826
phoenix   8.530490  4.199340  0.299648

**4.** You recall that the Seaborn package has some data sets built in, but can't remember how to list and load them. Assuming the functions to do so have "data" in the name, how might you locate them?  You can assume a Jupyter Notebook / IPython environment and explain the process, or write the code to do it in Python.

## Loading data from CSV

**5**. Zillow home data is available at this URL: https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv

Open this file as a DataFrame named df_homes in Pandas.

In [19]:

import pandas as pd
import requests
from io import StringIO

# URL to the Zillow data
url = "https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv"

# Fetch the CSV file using requests (disable SSL verification)
response = requests.get(url, verify=False)  # Disable SSL verification
response.raise_for_status()  # Check for HTTP request errors

# Convert the response content into a DataFrame
df_homes = pd.read_csv(StringIO(response.text))

# Display the first few rows of the DataFrame
print(df_homes.head())

C:\Users\keshni\AppData\Roaming\Python\Python313\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'files.zillowstatic.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

   RegionID  SizeRank       RegionName RegionType StateName     2000-01-31  \
0    102001         0    United States    country       NaN  121618.117906
1    394913         1     New York, NY        msa        NY  216209.133034
2    753899         2  Los Angeles, CA        msa        CA  220054.246992
3    394463         3      Chicago, IL        msa        IL  152313.404618
4    394514         4       Dallas, TX        msa        TX  124931.823275

      2000-02-29     2000-03-31     2000-04-30     2000-05-31  ...  \
0  121832.083163  122097.431586  122666.551870  123321.541083  ...
1  217127.899860  218055.176122  219934.196642  221879.987460  ...
2  220873.127993  221963.869677  224134.079222  226507.608099  ...
3  152454.402460  152722.935334  153390.978391  154194.553834  ...
4  124987.468346  125051.438051  125217.560655  125436.588761  ...

      2024-01-31     2024-02-29     2024-03-31     2024-04-30     2024-05-31  \
0  351518.721971  352307.611057  353841.834013  355689.143658  357116.078246
1  636222.199812  640261.759998  645659.925232  651762.255593  656416.260742
2  918152.699842  915212.200707  914100.045351  917555.375306  923429.357719
3  309242.532032  310621.674151  313019.037704  315872.731458  317979.880350
4  368653.283687  369131.167377  370278.543600  371238.456044  371380.958812

      2024-06-30     2024-07-31     2024-08-31     2024-09-30     2024-10-31
0  357675.012344  357822.347127  358064.560426  358513.017685  359098.757006
1  659493.785408  662237.503625  665976.304121  669998.634470  673519.052950
2  927370.843139  931734.333222  936905.038981  943310.514820  948517.694617
3  319195.707171  319927.287910  320843.743524  321841.084746  322812.993795
4  370722.650770  369792.633169  369147.346536  368951.387387  368846.512185

[5 rows x 303 columns]

**6.** Save the DataFrame, df_homes, to a local CSV file, "zillow_home_data.csv".

In [30]:
df_homes.to_csv("zillow_home_data.csv")

**7.** Load zillow_home_data.csv back into a new Dataframe, df_homes_2

In [31]:
df_homes_2=pd.read_csv("zillow_home_data.csv")

**8.** Compare the dimensions of the two DataFrames, df_homes and df_homes_2.  Are they equal?  If not, how can you fix it?

In [32]:
print(df_homes.shape)
print(df_homes_2.shape)

(895, 303)
(895, 304)

**9.** A remote spreadsheet showing how a snapshot of how traffic increased for a hypothetical website is available here: https://github.com/CodeSolid/CodeSolid.github.io/raw/main/booksource/data/AnalyticsSnapshot.xlsx. Load the worksheet page of the spreasheet data labelled "February 2022" as a DataFrame named "feb".  Note: the leftmost column in the spreadsheet is the index column.

In [39]:

url = "https://github.com/CodeSolid/CodeSolid.github.io/raw/main/booksource/data/AnalyticsSnapshot.xlsx"
feb = pd.read_excel(url, sheet_name="February 2022", index_col = 0)
print(feb)

            This Month  Last Month  Month to Month Increase
Users             1800         280                 5.428571
New Users         1700         298                 4.704698
Page Views        2534         436                 4.811927

**10.** The "Month to Month Increase" column is a bit hard to understand, so ignore it for now.  Given the values for "This Month" and "Last Month", create a new column, "Percentage Increase".

## Basic Operations on Data

**11.** Using Seaborn, get a dataset about penguins into a dataframe named "df_penguins".  Note that because all of the following questions depend on this example, we'll provide the solution here so no one gets stuck:

In [ ]:
import seaborn as sb
df_penguins = sb.load_dataset('penguins')

**12.** Write the code to show the the number of rows and columns in df_penguins

In [46]:
print(df_penguins.shape)

(344, 7)

**13.** How might you show the first few rows of df_penguins?

In [47]:
print(df_penguins.head())

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex
0       3750.0    Male
1       3800.0  Female
2       3250.0  Female
3          NaN     NaN
4       3450.0  Female

**14.** How can you return the unique species of penguins from df_penguins?  How many unique species are there?

In [48]:
print(df_penguins["species"].unique())
print(len(df_penguins["species"].unique()))

['Adelie' 'Chinstrap' 'Gentoo']
3

**15.** What function can we use to drop the rows that have missing data?

In [50]:
print(df_penguins.dropna())

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
4    Adelie  Torgersen            36.7           19.3              193.0
5    Adelie  Torgersen            39.3           20.6              190.0
..      ...        ...             ...            ...                ...
338  Gentoo     Biscoe            47.2           13.7              214.0
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    Male
1         3800.0  Female
2         3250.0  Female
4         3450.0  Female
5         3650.0    Male
..           ...     ...
338       4925.0  Female
340       4850.0  Female
341       5750.0    Male
342       5200.0  Female
343       5400.0    Male

[333 rows x 7 columns]

**16.** By default, will this modify df_penguins or will it return a copy?

**17.** How can we override the default?

**18.** Create a new DataFrame, df_penguins_full, with the missing data deleted.

In [52]:
df_penguins_full= df_penguins.dropna()

**19.** What is the average bill length of a penguin, in millimeters, in this (df_full) data set?

In [53]:
print(df_penguins_full["bill_length_mm"].mean())

43.99279279279279

**20.** Which of the following is most strongly correlated with bill length?  a) Body mass?  b) Flipper length?  c) Bill depth?  Show how you arrived at the answer.

In [54]:
df_penguins_full.corr(numeric_only=True)

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.228626,0.653096,0.589451
bill_depth_mm,-0.228626,1.000000,-0.577792,-0.472016
flipper_length_mm,0.653096,-0.577792,1.000000,0.872979
body_mass_g,0.589451,-0.472016,0.872979,1.000000

**21.** How could you show the median flipper length, grouped by species?

In [55]:
df_penguins_full.groupby('species')['flipper_length_mm'].median()

species
Adelie       190.0
Chinstrap    196.0
Gentoo       216.0
Name: flipper_length_mm, dtype: float64

**22.** Which species has the longest flippers?

df_penguins_full.groupby('species')['flipper_length_mm'].max()

In [ ]:
df_penguins_full.groupby('species')['flipper_length_mm'].max()

species
Adelie       210.0
Chinstrap    212.0
Gentoo       231.0
Name: flipper_length_mm, dtype: float64

**23.** Which two species have the most similar mean weight?  Show how you arrived at the answer.

adelie and chinstrap

In [57]:
df_penguins_full.groupby('species')['body_mass_g'].mean()

species
Adelie       3706.164384
Chinstrap    3733.088235
Gentoo       5092.436975
Name: body_mass_g, dtype: float64

**24.** How could you sort the rows by bill length?

In [58]:
df_penguins_full.sort_values(by=['bill_length_mm'])

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
142,Adelie,Dream,32.1,15.5,188.0,3050.0,Female
98,Adelie,Dream,33.1,16.1,178.0,2900.0,Female
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,Female
92,Adelie,Dream,34.0,17.1,185.0,3400.0,Female
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,Female
...,...,...,...,...,...,...,...
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,Male
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,Male
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,Female
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,Male

**25.** How could you run the same sort in descending order?

In [59]:
df_penguins_full.sort_values(by=['bill_length_mm'], ascending = False)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,Male
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,Female
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,Male
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,Male
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
...,...,...,...,...,...,...,...
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,Female
92,Adelie,Dream,34.0,17.1,185.0,3400.0,Female
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,Female
98,Adelie,Dream,33.1,16.1,178.0,2900.0,Female
142,Adelie,Dream,32.1,15.5,188.0,3050.0,Female

**26.** How could you sort by species first, then by body mass?

In [61]:
df_penguins_full.sort_values(by=['species','body_mass_g'])

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
58,Adelie,Biscoe,36.5,16.6,181.0,2850.0,Female
64,Adelie,Biscoe,36.4,17.1,184.0,2850.0,Female
54,Adelie,Biscoe,34.5,18.1,187.0,2900.0,Female
98,Adelie,Dream,33.1,16.1,178.0,2900.0,Female
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,Female
...,...,...,...,...,...,...,...
331,Gentoo,Biscoe,49.8,15.9,229.0,5950.0,Male
297,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,Male
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,Male
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,Male
237,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,Male

## Selecting Rows, Columns, and Cells

Let's look at some precious stones now, and leave the poor penguins alone for a while.  Let's look at some precious stones now, and leave the poor penguins alone for a while.

**27.** Load the Seaborn "diamonds" dataset into a Pandas dataframe named diamonds.

In [62]:
df_diamonds = sb.load_dataset('diamonds')

**28.** Display the columns that are available.

In [63]:
print(df_diamonds.columns)

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

**29.** If you select a single column from the diamonds DataFrame, what will be the type of the return value?

**30.** Select the 'table' column and show its type

In [64]:
df_diamonds['table'].dtype

dtype('float64')

**31.** Select the first ten rows of the price and carat columns ten rows of the diamonds DataFrame into a variable called subset, and display them.

In [65]:
subset=df_diamonds.loc[0:9,["price","carat"]]
print(subset)

   price  carat
0    326   0.23
1    326   0.21
2    327   0.23
3    334   0.29
4    335   0.31
5    336   0.24
6    336   0.24
7    337   0.26
8    337   0.22
9    338   0.23

**32.** For a given column, show the code to display the datatype of the _values_ in the column?

In [66]:
df_diamonds['carat'].dtype

dtype('float64')

**33.** Select the first row of the diamonds DataFrame into a variable called row.

In [68]:
row=df_diamonds.loc[0]

**34.** What would you expect the data type of the row to be?  Display it.

A Pandas series

In [69]:
print(type(row))

<class 'pandas.core.series.Series'>

**35.** Can you discover the names of the columns using only the row returned in #33?  Why or why not?Can you discover the names of the columns using only the row returned in #33?  Why or why not?

Yes, because a row series should have the columns as the index (See below):

In [70]:
row.index

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

**36.** Select the row with the highest priced diamond.

In [71]:
df_diamonds.loc[df_diamonds['price'].idxmax()]

carat         2.29
cut        Premium
color            I
clarity        VS2
depth         60.8
table         60.0
price        18823
x              8.5
y             8.47
z             5.16
Name: 27749, dtype: object

**37.** Select the row with the lowest priced diamond.

In [72]:
df_diamonds.loc[df_diamonds['price'].idxmin()]

carat       0.23
cut        Ideal
color          E
clarity      SI2
depth       61.5
table       55.0
price        326
x           3.95
y           3.98
z           2.43
Name: 0, dtype: object

## Some Exercises Using Time Series

**38.** Load the taxis dataset into a DataFrame, ```taxis```.

In [74]:

taxis = sb.load_dataset("taxis")

**39.** The 'pickup' column contains the date and time the customer picked up, but it's a string.  Add a column to the DataFrame, 'pickup_time', containing the value in 'pickup' as a DateTime.

In [ ]:
taxis['pickup_time'] = pd.to_datetime(taxis['pickup'])

print(taxis.head())

**40.** We have a hypothesis that as the day goes on, the tips get higher.  We'll need to wrangle the data a bit before testing this, however.  First, now that we have a datetime column, pickup_time, create a subset of it to create a new DataFrame, taxis_one_day. This new DataFrame should have values between '2019-03-23 00:06:00' (inclusive) and '2019-03-24 00:00:00' (exlusive).

**41.** We now have a range from morning until midnight, but we to take the mean of the numeric columns, grouped at one hour intervals.  Save the result as df_means, and display it.

**42.** Create a simple line plot of the value "distance".

**43.** Overall, do riders travel further or less far as the day progresses?

**44.** Create a new column in taxis_means, ```tip_in_percent```.  The source columns for this should be "fare" and "tip"

**45.** Create a new column, time_interval, as a range of integer values beginning with zero.

Display the correlations between the following pairs of values:
1. tip_in_percent and distance.
1. tip_in_percent and passengers.
1. tip_in_percent and time_interval.

**47.** Admittedly, the size of the data set is fairly small given how we've subsetted it.  But based on the values in #45, which of the three pairs show the strongest correlation.

**48.** Did our hypothesis that people tip more as the day goes on turn out to be warranted?