# Pandas Exercises

## Creating DataFrames and Using Sample Data Sets

This is the Jupyter Notebook runnable exercises version of the article, [Pandas Practice Questions – Fifty-Two Examples to Make You an Expert](https://codesolid.com/pandas-practice-questions-twenty-one-examples-to-make-you-an-expert/).

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb

**1.** Using NumPy, create a Pandas DataFrame with five rows and three columms:

In [4]:
arr=10*np.random.random_sample((5,3))
data=pd.DataFrame(arr)
print (data)

          0         1         2
0  4.424956  6.546197  1.335278
1  9.996467  0.560526  1.043055
2  4.415616  1.506759  6.153549
3  9.100878  5.915149  3.978905
4  8.986124  2.747622  8.843662

**2.** For a Pandas DataFrame created from a NumPy array, what is the default behavior for the labels for the columns?  For the rows?

it uses indexes from 0 to the number of coloumns (rows) - 1

**3.** Create a second DataFrame as above with five rows and three columns, setting the row labels to the names of any five major US cities and the column labels to the first three months of the year.

In [5]:
arr=10*np.random.random_sample((5,3))
data=pd.DataFrame(arr, index= ['NYC', 'LA', 'Chicago', 'Boston', 'Las Vegas'],columns= ['Jan', 'Feb', 'Mar'] )
print (data)

                Jan       Feb       Mar
NYC        6.445169  3.829545  7.545719
LA         2.356714  0.570364  7.621890
Chicago    6.488425  8.074942  2.187149
Boston     0.888992  2.481820  0.681408
Las Vegas  8.659708  5.385430  9.390649

**4.** You recall that the Seaborn package has some data sets built in, but can't remember how to list and load them. Assuming the functions to do so have "data" in the name, how might you locate them?  You can assume a Jupyter Notebook / IPython environment and explain the process, or write the code to do it in Python.

## Loading data from CSV

**5**. Zillow home data is available at this URL: https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv

Open this file as a DataFrame named df_homes in Pandas.

In [6]:
df_homes = pd.read_csv('https://files.zillowstatic.com/research/public_csvs/zhvi/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

**6.** Save the DataFrame, df_homes, to a local CSV file, "zillow_home_data.csv".

In [7]:
df_homes.to_csv('zillow_home_data.csv')

**7.** Load zillow_home_data.csv back into a new Dataframe, df_homes_2

In [8]:
df_homes_2=pd.read_csv('zillow_home_data.csv')

**8.** Compare the dimensions of the two DataFrames, df_homes and df_homes_2.  Are they equal?  If not, how can you fix it?

In [16]:
print("dimension of  df_homes is= " , df_homes.shape)
print("dimension of  df_homes_2 is= " , df_homes_2.shape)
if df_homes.shape==df_homes_2.shape:
    print("they are equal")
else:
    print("they are not equal")
df_homes = df_homes.reindex(columns=df_homes_2.columns)
print("dimension of  df_homes is= " , df_homes.shape)
print("dimension of  df_homes_2 is= " , df_homes_2.shape)

dimension of  df_homes is=  (895, 303)
dimension of  df_homes_2 is=  (895, 304)
they are not equal
dimension of  df_homes is=  (895, 304)
dimension of  df_homes_2 is=  (895, 304)

**9.** A remote spreadsheet showing how a snapshot of how traffic increased for a hypothetical website is available here: https://github.com/CodeSolid/CodeSolid.github.io/raw/main/booksource/data/AnalyticsSnapshot.xlsx. Load the worksheet page of the spreasheet data labelled "February 2022" as a DataFrame named "feb".  Note: the leftmost column in the spreadsheet is the index column.

In [23]:
feb=pd.read_excel('https://github.com/CodeSolid/CodeSolid.github.io/raw/main/booksource/data/AnalyticsSnapshot.xlsx',index_col=0,sheet_name='February 2022')
print (feb)

            This Month  Last Month  Month to Month Increase
Users             1800         280                 5.428571
New Users         1700         298                 4.704698
Page Views        2534         436                 4.811927

**10.** The "Month to Month Increase" column is a bit hard to understand, so ignore it for now.  Given the values for "This Month" and "Last Month", create a new column, "Percentage Increase".

In [29]:
feb.loc[:,'Percentage Increase']= (feb['This Month']-feb['Last Month'])/feb['Last Month']
print(feb)

            This Month  Last Month  Month to Month Increase  \
Users             1800         280                 5.428571
New Users         1700         298                 4.704698
Page Views        2534         436                 4.811927

            Percentage Increase
Users                  5.428571
New Users              4.704698
Page Views             4.811927

## Basic Operations on Data

**11.** Using Seaborn, get a dataset about penguins into a dataframe named "df_penguins".  Note that because all of the following questions depend on this example, we'll provide the solution here so no one gets stuck:

In [32]:
df_penguins = sb.load_dataset('penguins')

**12.** Write the code to show the the number of rows and columns in df_penguins

In [36]:
 df_penguins.shape

(344, 7)

**13.** How might you show the first few rows of df_penguins?

In [37]:
 df_penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

**14.** How can you return the unique species of penguins from df_penguins?  How many unique species are there?

In [44]:
print (df_penguins.drop_duplicates(subset=['species']))
print ('no of unique species is ',len(df_penguins.drop_duplicates(subset=['species'])))

       species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       Adelie  Torgersen            39.1           18.7              181.0
152  Chinstrap      Dream            46.5           17.9              192.0
220     Gentoo     Biscoe            46.1           13.2              211.0

     body_mass_g     sex
0         3750.0    Male
152       3500.0  Female
220       4500.0  Female
no of unique species is  3

**15.** What function can we use to drop the rows that have missing data?

In [45]:
df_penguins.dropna()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

**16.** By default, will this modify df_penguins or will it return a copy?

it will return a copy

**17.** How can we override the default?

by saving it in a neew dataframe

**18.** Create a new DataFrame, df_penguins_full, with the missing data deleted.

In [47]:
df_penguins_full= df_penguins.dropna()
print (df_penguins_full)

    species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
4    Adelie  Torgersen            36.7           19.3              193.0
5    Adelie  Torgersen            39.3           20.6              190.0
..      ...        ...             ...            ...                ...
338  Gentoo     Biscoe            47.2           13.7              214.0
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    Male
1         3800.0  Female
2         3250.0  Female
4         3450.0  Female
5         3650.0    Male
..           ...     ...
338       4925.0  Female
340       4850.0  Female
341       5750.0    Male
342       5200.0  Female
343       5400.0    Male

[333 rows x 7 columns]

**19.** What is the average bill length of a penguin, in millimeters, in this (df_full) data set?

In [48]:
df_penguins_full['bill_length_mm'].mean()

43.99279279279279

**20.** Which of the following is most strongly correlated with bill length?  a) Body mass?  b) Flipper length?  c) Bill depth?  Show how you arrived at the answer.

flipper length

In [72]:
df_penguins_full['bill_length_mm'].corr(df_penguins_full['flipper_length_mm'],method='pearson')

0.6530956386670856

In [55]:
df_penguins_full['bill_length_mm'].corr(df_penguins_full['bill_depth_mm'],method='pearson')

-0.22862563591302934

In [53]:
df_penguins_full['bill_length_mm'].corr(df_penguins_full['body_mass_g'],method='pearson')

0.589451110176949

**21.** How could you show the median flipper length, grouped by species?

In [77]:
df_penguins_full.groupby('species')['flipper_length_mm'].median()

species
Adelie       190.0
Chinstrap    196.0
Gentoo       216.0
Name: flipper_length_mm, dtype: float64

**22.** Which species has the longest flippers?

Gentoo

**23.** Which two species have the most similar mean weight?  Show how you arrived at the answer.

adelie  and chinstrap

In [79]:
df_penguins_full.groupby('species')['body_mass_g'].mean()

species
Adelie       3706.164384
Chinstrap    3733.088235
Gentoo       5092.436975
Name: body_mass_g, dtype: float64

**24.** How could you sort the rows by bill length?

In [80]:
df_penguins_full.sort_values(by=['bill_length_mm'])

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
142,Adelie,Dream,32.1,15.5,188.0,3050.0,Female
98,Adelie,Dream,33.1,16.1,178.0,2900.0,Female
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,Female
92,Adelie,Dream,34.0,17.1,185.0,3400.0,Female
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,Female
...,...,...,...,...,...,...,...
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,Male
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,Male
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,Female
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,Male

**25.** How could you run the same sort in descending order?

In [82]:
df_penguins_full.sort_values(by=['bill_length_mm'], ascending=False)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,Male
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,Female
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,Male
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,Male
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
...,...,...,...,...,...,...,...
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,Female
92,Adelie,Dream,34.0,17.1,185.0,3400.0,Female
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,Female
98,Adelie,Dream,33.1,16.1,178.0,2900.0,Female
142,Adelie,Dream,32.1,15.5,188.0,3050.0,Female

**26.** How could you sort by species first, then by body mass?

In [85]:
df_penguins_full.sort_values(by=['species','body_mass_g'])

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
58,Adelie,Biscoe,36.5,16.6,181.0,2850.0,Female
64,Adelie,Biscoe,36.4,17.1,184.0,2850.0,Female
54,Adelie,Biscoe,34.5,18.1,187.0,2900.0,Female
98,Adelie,Dream,33.1,16.1,178.0,2900.0,Female
116,Adelie,Torgersen,38.6,17.0,188.0,2900.0,Female
...,...,...,...,...,...,...,...
331,Gentoo,Biscoe,49.8,15.9,229.0,5950.0,Male
297,Gentoo,Biscoe,51.1,16.3,220.0,6000.0,Male
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,Male
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,Male
237,Gentoo,Biscoe,49.2,15.2,221.0,6300.0,Male

## Selecting Rows, Columns, and Cells

Let's look at some precious stones now, and leave the poor penguins alone for a while.  Let's look at some precious stones now, and leave the poor penguins alone for a while.

**27.** Load the Seaborn "diamonds" dataset into a Pandas dataframe named diamonds.

In [90]:
diamonds = sb.load_dataset('diamonds')

**28.** Display the columns that are available.

In [87]:
print (diamonds)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

**29.** If you select a single column from the diamonds DataFrame, what will be the type of the return value?

can be float or string or int

**30.** Select the 'table' column and show its type

In [92]:
diamonds['table'].dtype

dtype('float64')

**31.** Select the first ten rows of the price and carat columns ten rows of the diamonds DataFrame into a variable called subset, and display them.

In [93]:
subset=diamonds[['price','carat']].head(10)
print (subset)

   price  carat
0    326   0.23
1    326   0.21
2    327   0.23
3    334   0.29
4    335   0.31
5    336   0.24
6    336   0.24
7    337   0.26
8    337   0.22
9    338   0.23

**32.** For a given column, show the code to display the datatype of the _values_ in the column?

In [94]:
diamonds['price'].dtype

dtype('int64')

**33.** Select the first row of the diamonds DataFrame into a variable called row.

In [99]:
row=diamonds.head(0)
print (row)

Empty DataFrame
Columns: [carat, cut, color, clarity, depth, table, price, x, y, z]
Index: []

**34.** What would you expect the data type of the row to be?  Display it.

A Pandas series

In [100]:
row.dtypes

carat       float64
cut        category
color      category
clarity    category
depth       float64
table       float64
price         int64
x           float64
y           float64
z           float64
dtype: object

**35.** Can you discover the names of the columns using only the row returned in #33?  Why or why not?Can you discover the names of the columns using only the row returned in #33?  Why or why not?

Yes, because a row series should have the columns as the index (See below):

**36.** Select the row with the highest priced diamond.

In [101]:
a=diamonds['price'].max
for i in range(len(diamonds)):
    if diamonds['price'][i]==a():
        print (diamonds.iloc[i])

carat         2.29
cut        Premium
color            I
clarity        VS2
depth         60.8
table         60.0
price        18823
x              8.5
y             8.47
z             5.16
Name: 27749, dtype: object

**37.** Select the row with the lowest priced diamond.

In [103]:
b=diamonds['price'].min
for j in range(len(diamonds)):
    if diamonds['price'][j]==b():
        print (diamonds.iloc[j])

carat       0.23
cut        Ideal
color          E
clarity      SI2
depth       61.5
table       55.0
price        326
x           3.95
y           3.98
z           2.43
Name: 0, dtype: object
carat         0.21
cut        Premium
color            E
clarity        SI1
depth         59.8
table         61.0
price          326
x             3.89
y             3.84
z             2.31
Name: 1, dtype: object

## Some Exercises Using Time Series

**38.** Load the taxis dataset into a DataFrame, ```taxis```.

In [106]:
t = sb.load_dataset('taxis')
print (t)

                  pickup             dropoff  passengers  distance  fare  \
0    2019-03-23 20:21:09 2019-03-23 20:27:24           1      1.60   7.0
1    2019-03-04 16:11:55 2019-03-04 16:19:00           1      0.79   5.0
2    2019-03-27 17:53:01 2019-03-27 18:00:25           1      1.37   7.5
3    2019-03-10 01:23:59 2019-03-10 01:49:51           1      7.70  27.0
4    2019-03-30 13:27:42 2019-03-30 13:37:14           3      2.16   9.0
...                  ...                 ...         ...       ...   ...
6428 2019-03-31 09:51:53 2019-03-31 09:55:27           1      0.75   4.5
6429 2019-03-31 17:38:00 2019-03-31 18:34:23           1     18.74  58.0
6430 2019-03-23 22:55:18 2019-03-23 23:14:25           1      4.14  16.0
6431 2019-03-04 10:09:25 2019-03-04 10:14:29           1      1.12   6.0
6432 2019-03-13 19:31:22 2019-03-13 19:48:02           1      3.85  15.0

       tip  tolls  total   color      payment            pickup_zone  \
0     2.15    0.0  12.95  yellow  credit card        Lenox Hill West
1     0.00    0.0   9.30  yellow         cash  Upper West Side South
2     2.36    0.0  14.16  yellow  credit card          Alphabet City
3     6.15    0.0  36.95  yellow  credit card              Hudson Sq
4     1.10    0.0  13.40  yellow  credit card           Midtown East
...    ...    ...    ...     ...          ...                    ...
6428  1.06    0.0   6.36   green  credit card      East Harlem North
6429  0.00    0.0  58.80   green  credit card                Jamaica
6430  0.00    0.0  17.30   green         cash    Crown Heights North
6431  0.00    0.0   6.80   green  credit card          East New York
6432  3.36    0.0  20.16   green  credit card            Boerum Hill

                          dropoff_zone pickup_borough dropoff_borough
0                  UN/Turtle Bay South      Manhattan       Manhattan
1                Upper West Side South      Manhattan       Manhattan
2                         West Village      Manhattan       Manhattan
3                       Yorkville West      Manhattan       Manhattan
4                       Yorkville West      Manhattan       Manhattan
...                                ...            ...             ...
6428              Central Harlem North      Manhattan       Manhattan
6429  East Concourse/Concourse Village         Queens           Bronx
6430                    Bushwick North       Brooklyn        Brooklyn
6431      East Flatbush/Remsen Village       Brooklyn        Brooklyn
6432                   Windsor Terrace       Brooklyn        Brooklyn

[6433 rows x 14 columns]

**39.** The 'pickup' column contains the date and time the customer picked up, but it's a string.  Add a column to the DataFrame, 'pickup_time', containing the value in 'pickup' as a DateTime.

In [109]:
t['pickup_time'] = pd.to_datetime(t['pickup'])

**40.** We have a hypothesis that as the day goes on, the tips get higher.  We'll need to wrangle the data a bit before testing this, however.  First, now that we have a datetime column, pickup_time, create a subset of it to create a new DataFrame, taxis_one_day. This new DataFrame should have values between '2019-03-23 00:06:00' (inclusive) and '2019-03-24 00:00:00' (exlusive).

In [110]:
taxis_one_day=t[t['pickup_time'].between('2019-03-23 00:06:00', '2019-03-24 00:00:00',inclusive='right')]
print (taxis_one_day)

                  pickup             dropoff  passengers  distance  fare  \
0    2019-03-23 20:21:09 2019-03-23 20:27:24           1      1.60   7.0
8    2019-03-23 11:48:50 2019-03-23 12:06:14           1      3.63  15.0
17   2019-03-23 20:50:49 2019-03-23 21:02:07           1      2.60  10.5
117  2019-03-23 09:39:25 2019-03-23 09:56:45           0      3.60  15.5
144  2019-03-23 18:35:01 2019-03-23 18:47:39           1      3.20  12.5
...                  ...                 ...         ...       ...   ...
6325 2019-03-23 20:52:40 2019-03-23 21:10:12           1      3.62  14.5
6331 2019-03-23 11:27:00 2019-03-23 12:20:11           1      7.67  28.0
6338 2019-03-23 18:05:38 2019-03-23 18:25:36           1      2.82  14.0
6427 2019-03-23 18:26:09 2019-03-23 18:49:12           1      7.07  20.0
6430 2019-03-23 22:55:18 2019-03-23 23:14:25           1      4.14  16.0

       tip  tolls  total   color      payment                     pickup_zone  \
0     2.15    0.0  12.95  yellow  credit card                 Lenox Hill West
8     1.00    0.0  19.30  yellow  credit card               East Harlem South
17    2.00    0.0  16.30  yellow  credit card                  Midtown Center
117   3.75    0.0  22.55  yellow  credit card                  Yorkville East
144   2.00    0.0  17.80  yellow  credit card             UN/Turtle Bay South
...    ...    ...    ...     ...          ...                             ...
6325  0.00    0.0  15.80   green         cash  Long Island City/Hunters Point
6331  0.00    0.0  28.00   green         cash                 Jackson Heights
6338  0.00    0.0  14.80   green  credit card              Claremont/Bathgate
6427  0.00    0.0  20.00   green         cash                     Parkchester
6430  0.00    0.0  17.30   green         cash             Crown Heights North

                      dropoff_zone pickup_borough dropoff_borough  \
0              UN/Turtle Bay South      Manhattan       Manhattan
8                   Midtown Center      Manhattan       Manhattan
17               East Harlem South      Manhattan       Manhattan
117   Penn Station/Madison Sq West      Manhattan       Manhattan
144                   East Village      Manhattan       Manhattan
...                            ...            ...             ...
6325                      Steinway         Queens          Queens
6331                       Maspeth         Queens          Queens
6338    Spuyten Duyvil/Kingsbridge          Bronx           Bronx
6427             East Harlem South          Bronx       Manhattan
6430                Bushwick North       Brooklyn        Brooklyn

             pickup_time
0    2019-03-23 20:21:09
8    2019-03-23 11:48:50
17   2019-03-23 20:50:49
117  2019-03-23 09:39:25
144  2019-03-23 18:35:01
...                  ...
6325 2019-03-23 20:52:40
6331 2019-03-23 11:27:00
6338 2019-03-23 18:05:38
6427 2019-03-23 18:26:09
6430 2019-03-23 22:55:18

[209 rows x 15 columns]

**41.** We now have a range from morning until midnight, but we to take the mean of the numeric columns, grouped at one hour intervals.  Save the result as df_means, and display it.

In [114]:
 df_means=taxis_one_day.groupby(pd.Grouper(key='pickup_time',freq='1H')).mean(numeric_only=True)
print (df_means)

                     passengers  distance       fare       tip     tolls  \
pickup_time
2019-03-23 00:00:00    1.000000  1.911667   8.583333  1.415000  0.000000
2019-03-23 01:00:00    1.250000  1.325000   7.875000  1.525000  0.000000
2019-03-23 02:00:00    1.727273  1.739091   8.181818  1.641818  0.000000
2019-03-23 03:00:00    1.500000  3.377500  11.750000  2.410000  0.000000
2019-03-23 04:00:00    2.000000  0.950000   5.500000  0.915000  0.000000
2019-03-23 05:00:00    2.000000  1.270000   6.000000  0.980000  0.000000
2019-03-23 06:00:00    1.000000  0.400000  21.500000  0.000000  0.000000
2019-03-23 07:00:00    2.333333  0.980000   5.250000  1.165000  0.000000
2019-03-23 08:00:00    1.000000  0.020000   2.500000  0.000000  0.000000
2019-03-23 09:00:00    1.500000  1.352000   7.400000  1.674000  0.000000
2019-03-23 10:00:00    1.000000  1.760000   8.750000  0.727500  0.000000
2019-03-23 11:00:00    1.909091  2.070000  11.090909  0.803636  0.000000
2019-03-23 12:00:00    2.000000  2.267143  10.260000  0.645714  0.000000
2019-03-23 13:00:00    2.500000  1.167000   7.550000  2.074000  0.000000
2019-03-23 14:00:00    2.470588  4.752941  18.330000  1.945294  1.003529
2019-03-23 15:00:00    1.000000  6.557143  22.214286  3.210000  1.645714
2019-03-23 16:00:00    2.000000  2.194545  10.454545  1.109091  0.000000
2019-03-23 17:00:00    1.090909  1.913636  14.818182  2.688182  0.523636
2019-03-23 18:00:00    1.571429  3.206429  12.821429  0.844286  0.411429
2019-03-23 19:00:00    1.526316  2.097895  10.263158  1.176316  0.000000
2019-03-23 20:00:00    1.400000  2.448000  11.100000  1.544000  0.000000
2019-03-23 21:00:00    1.000000  2.017143  10.571429  1.420000  0.000000
2019-03-23 22:00:00    1.307692  1.881538   8.923077  1.094615  0.000000
2019-03-23 23:00:00    1.615385  3.725385  15.115385  1.696154  0.000000

                         total
pickup_time
2019-03-23 00:00:00  12.965000
2019-03-23 01:00:00  12.575000
2019-03-23 02:00:00  13.169091
2019-03-23 03:00:00  17.335000
2019-03-23 04:00:00  10.215000
2019-03-23 05:00:00  10.530000
2019-03-23 06:00:00  23.133333
2019-03-23 07:00:00   9.298333
2019-03-23 08:00:00   3.300000
2019-03-23 09:00:00  12.124000
2019-03-23 10:00:00  12.152500
2019-03-23 11:00:00  14.667273
2019-03-23 12:00:00  13.420000
2019-03-23 13:00:00  12.344000
2019-03-23 14:00:00  24.267059
2019-03-23 15:00:00  30.370000
2019-03-23 16:00:00  14.431818
2019-03-23 17:00:00  20.739091
2019-03-23 18:00:00  16.427143
2019-03-23 19:00:00  14.226316
2019-03-23 20:00:00  15.944000
2019-03-23 21:00:00  15.791429
2019-03-23 22:00:00  13.433077
2019-03-23 23:00:00  20.034615

<ipython-input-114-5e731ef95fdf>:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df_means=taxis_one_day.groupby(pd.Grouper(key='pickup_time',freq='1H')).mean(numeric_only=True)

**42.** Create a simple line plot of the value "distance".

**43.** Overall, do riders travel further or less far as the day progresses?

**44.** Create a new column in taxis_means, ```tip_in_percent```.  The source columns for this should be "fare" and "tip"

In [118]:
df_means['tip_in_percent']=df_means['tip']/df_means['fare']*100
print (df_means)

                     passengers  distance       fare       tip     tolls  \
pickup_time
2019-03-23 00:00:00    1.000000  1.911667   8.583333  1.415000  0.000000
2019-03-23 01:00:00    1.250000  1.325000   7.875000  1.525000  0.000000
2019-03-23 02:00:00    1.727273  1.739091   8.181818  1.641818  0.000000
2019-03-23 03:00:00    1.500000  3.377500  11.750000  2.410000  0.000000
2019-03-23 04:00:00    2.000000  0.950000   5.500000  0.915000  0.000000
2019-03-23 05:00:00    2.000000  1.270000   6.000000  0.980000  0.000000
2019-03-23 06:00:00    1.000000  0.400000  21.500000  0.000000  0.000000
2019-03-23 07:00:00    2.333333  0.980000   5.250000  1.165000  0.000000
2019-03-23 08:00:00    1.000000  0.020000   2.500000  0.000000  0.000000
2019-03-23 09:00:00    1.500000  1.352000   7.400000  1.674000  0.000000
2019-03-23 10:00:00    1.000000  1.760000   8.750000  0.727500  0.000000
2019-03-23 11:00:00    1.909091  2.070000  11.090909  0.803636  0.000000
2019-03-23 12:00:00    2.000000  2.267143  10.260000  0.645714  0.000000
2019-03-23 13:00:00    2.500000  1.167000   7.550000  2.074000  0.000000
2019-03-23 14:00:00    2.470588  4.752941  18.330000  1.945294  1.003529
2019-03-23 15:00:00    1.000000  6.557143  22.214286  3.210000  1.645714
2019-03-23 16:00:00    2.000000  2.194545  10.454545  1.109091  0.000000
2019-03-23 17:00:00    1.090909  1.913636  14.818182  2.688182  0.523636
2019-03-23 18:00:00    1.571429  3.206429  12.821429  0.844286  0.411429
2019-03-23 19:00:00    1.526316  2.097895  10.263158  1.176316  0.000000
2019-03-23 20:00:00    1.400000  2.448000  11.100000  1.544000  0.000000
2019-03-23 21:00:00    1.000000  2.017143  10.571429  1.420000  0.000000
2019-03-23 22:00:00    1.307692  1.881538   8.923077  1.094615  0.000000
2019-03-23 23:00:00    1.615385  3.725385  15.115385  1.696154  0.000000

                         total  tip_in_percent
pickup_time
2019-03-23 00:00:00  12.965000       16.485437
2019-03-23 01:00:00  12.575000       19.365079
2019-03-23 02:00:00  13.169091       20.066667
2019-03-23 03:00:00  17.335000       20.510638
2019-03-23 04:00:00  10.215000       16.636364
2019-03-23 05:00:00  10.530000       16.333333
2019-03-23 06:00:00  23.133333        0.000000
2019-03-23 07:00:00   9.298333       22.190476
2019-03-23 08:00:00   3.300000        0.000000
2019-03-23 09:00:00  12.124000       22.621622
2019-03-23 10:00:00  12.152500        8.314286
2019-03-23 11:00:00  14.667273        7.245902
2019-03-23 12:00:00  13.420000        6.293512
2019-03-23 13:00:00  12.344000       27.470199
2019-03-23 14:00:00  24.267059       10.612625
2019-03-23 15:00:00  30.370000       14.450161
2019-03-23 16:00:00  14.431818       10.608696
2019-03-23 17:00:00  20.739091       18.141104
2019-03-23 18:00:00  16.427143        6.584958
2019-03-23 19:00:00  14.226316       11.461538
2019-03-23 20:00:00  15.944000       13.909910
2019-03-23 21:00:00  15.791429       13.432432
2019-03-23 22:00:00  13.433077       12.267241
2019-03-23 23:00:00  20.034615       11.221374

**45.** Create a new column, time_interval, as a range of integer values beginning with zero.

In [119]:
df_means['time_interval']=range(len(df_means))
print (df_means)

                     passengers  distance       fare       tip     tolls  \
pickup_time
2019-03-23 00:00:00    1.000000  1.911667   8.583333  1.415000  0.000000
2019-03-23 01:00:00    1.250000  1.325000   7.875000  1.525000  0.000000
2019-03-23 02:00:00    1.727273  1.739091   8.181818  1.641818  0.000000
2019-03-23 03:00:00    1.500000  3.377500  11.750000  2.410000  0.000000
2019-03-23 04:00:00    2.000000  0.950000   5.500000  0.915000  0.000000
2019-03-23 05:00:00    2.000000  1.270000   6.000000  0.980000  0.000000
2019-03-23 06:00:00    1.000000  0.400000  21.500000  0.000000  0.000000
2019-03-23 07:00:00    2.333333  0.980000   5.250000  1.165000  0.000000
2019-03-23 08:00:00    1.000000  0.020000   2.500000  0.000000  0.000000
2019-03-23 09:00:00    1.500000  1.352000   7.400000  1.674000  0.000000
2019-03-23 10:00:00    1.000000  1.760000   8.750000  0.727500  0.000000
2019-03-23 11:00:00    1.909091  2.070000  11.090909  0.803636  0.000000
2019-03-23 12:00:00    2.000000  2.267143  10.260000  0.645714  0.000000
2019-03-23 13:00:00    2.500000  1.167000   7.550000  2.074000  0.000000
2019-03-23 14:00:00    2.470588  4.752941  18.330000  1.945294  1.003529
2019-03-23 15:00:00    1.000000  6.557143  22.214286  3.210000  1.645714
2019-03-23 16:00:00    2.000000  2.194545  10.454545  1.109091  0.000000
2019-03-23 17:00:00    1.090909  1.913636  14.818182  2.688182  0.523636
2019-03-23 18:00:00    1.571429  3.206429  12.821429  0.844286  0.411429
2019-03-23 19:00:00    1.526316  2.097895  10.263158  1.176316  0.000000
2019-03-23 20:00:00    1.400000  2.448000  11.100000  1.544000  0.000000
2019-03-23 21:00:00    1.000000  2.017143  10.571429  1.420000  0.000000
2019-03-23 22:00:00    1.307692  1.881538   8.923077  1.094615  0.000000
2019-03-23 23:00:00    1.615385  3.725385  15.115385  1.696154  0.000000

                         total  tip_in_percent  time_interval
pickup_time
2019-03-23 00:00:00  12.965000       16.485437              0
2019-03-23 01:00:00  12.575000       19.365079              1
2019-03-23 02:00:00  13.169091       20.066667              2
2019-03-23 03:00:00  17.335000       20.510638              3
2019-03-23 04:00:00  10.215000       16.636364              4
2019-03-23 05:00:00  10.530000       16.333333              5
2019-03-23 06:00:00  23.133333        0.000000              6
2019-03-23 07:00:00   9.298333       22.190476              7
2019-03-23 08:00:00   3.300000        0.000000              8
2019-03-23 09:00:00  12.124000       22.621622              9
2019-03-23 10:00:00  12.152500        8.314286             10
2019-03-23 11:00:00  14.667273        7.245902             11
2019-03-23 12:00:00  13.420000        6.293512             12
2019-03-23 13:00:00  12.344000       27.470199             13
2019-03-23 14:00:00  24.267059       10.612625             14
2019-03-23 15:00:00  30.370000       14.450161             15
2019-03-23 16:00:00  14.431818       10.608696             16
2019-03-23 17:00:00  20.739091       18.141104             17
2019-03-23 18:00:00  16.427143        6.584958             18
2019-03-23 19:00:00  14.226316       11.461538             19
2019-03-23 20:00:00  15.944000       13.909910             20
2019-03-23 21:00:00  15.791429       13.432432             21
2019-03-23 22:00:00  13.433077       12.267241             22
2019-03-23 23:00:00  20.034615       11.221374             23

Display the correlations between the following pairs of values:
1. tip_in_percent and distance.
1. tip_in_percent and passengers.
1. tip_in_percent and time_interval.

In [122]:
print (df_means['tip_in_percent'].corr(df_means['distance'],method='pearson'))
print (df_means['tip_in_percent'].corr(df_means['passengers'],method='pearson'))
print (df_means['tip_in_percent'].corr(df_means['time_interval'],method='pearson'))

0.00953302789086911
0.32623184018268747
-0.23239795213315184

**47.** Admittedly, the size of the data set is fairly small given how we've subsetted it.  But based on the values in #45, which of the three pairs show the strongest correlation.

tip in percent and passengers

**48.** Did our hypothesis that people tip more as the day goes on turn out to be warranted?